/* GONTSERRAT - HEADINGS */
/* THIN 100 */
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Thin.woff2") format("woff2"),
		url("../fonts/Gontserrat-Thin.woff") format("woff"),
		url("../fonts/Gontserrat-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Thin-Italic.woff2") format("woff2"),
		url("../fonts/Gontserrat-Thin-Italic.woff") format("woff"),
		url("../fonts/Gontserrat-Thin-Italic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

/* EXTRA LIGHT */
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-ExtraLight.woff2") format("woff2"),
		url("../fonts/Gontserrat-ExtraLight.woff") format("woff"),
		url("../fonts/Gontserrat-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-ExtraLight-Italic.woff2") format("woff2"),
		url("../fonts/Gontserrat-ExtraLight-Italic.woff") format("woff"),
		url("../fonts/Gontserrat-ExtraLight-Italic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

/* LIGHT 300 */
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Light.woff2") format("woff2"),
		url("../fonts/Gontserrat-Light.woff") format("woff"),
		url("../fonts/Gontserrat-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Light-Italic.woff2") format("woff2"),
		url("../fonts/Gontserrat-Light-Italic.woff") format("woff"),
		url("../fonts/Gontserrat-Light-Italic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* REGULAR 400 */
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Regular.woff2") format("woff2"),
		url("../fonts/Gontserrat-Regular.woff") format("woff"),
		url("../fonts/Gontserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Italic.woff2") format("woff2"),
		url("../fonts/Gontserrat-Italic.woff") format("woff"),
		url("../fonts/Gontserrat-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* MEDIUM 500 */
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Medium.woff2") format("woff2"),
		url("../fonts/Gontserrat-Medium.woff") format("woff"),
		url("../fonts/Gontserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Medium-Italic.woff2") format("woff2"),
		url("../fonts/Gontserrat-Medium-Italic.woff") format("woff"),
		url("../fonts/Gontserrat-Medium-Italic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

/* SEMIBOLD 600 */
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-SemiBold.woff2") format("woff2"),
		url("../fonts/Gontserrat-SemiBold.woff") format("woff"),
		url("../fonts/Gontserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-SemiBold-Italic.woff2") format("woff2"),
		url("../fonts/Gontserrat-SemiBold-Italic.woff") format("woff"),
		url("../fonts/Gontserrat-SemiBold-Italic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* BOLD 700 */
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Bold.woff2") format("woff2"),
		url("../fonts/Gontserrat-Bold.woff") format("woff"),
		url("../fonts/Gontserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Bold-Italic.woff2") format("woff2"),
		url("../fonts/Gontserrat-Bold-Italic.woff") format("woff"),
		url("../fonts/Gontserrat-Bold-Italic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* EXTRA BOLD 800 */
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-ExtraBold.woff2") format("woff2"),
		url("../fonts/Gontserrat-ExtraBold.woff") format("woff"),
		url("../fonts/Gontserrat-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-ExtraBold-Italic.woff2") format("woff2"),
		url("../fonts/Gontserrat-ExtraBold-Italic.woff") format("woff"),
		url("../fonts/Gontserrat-ExtraBold-Italic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

/* BLACK 900 */
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Black.woff2") format("woff2"),
		url("../fonts/Gontserrat-Black.woff") format("woff"),
		url("../fonts/Gontserrat-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gontserrat";
	src:
		url("../fonts/Gontserrat-Black-Italic.woff2") format("woff2"),
		url("../fonts/Gontserrat-Black-Italic.woff") format("woff"),
		url("../fonts/Gontserrat-Black-Italic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

/* MONTSERRAT - FALLBACK FOR GONTSERRAT */
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

/* OPEN SANS - TEXT */
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2")
		format("woff2");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}
